<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oriental.coach">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.StatisticManagermentActivity"></activity>
        <activity android:name=".activity.DailyPlanActivity"></activity>
        <activity android:name=".activity.StatisticDetailActivity"></activity>
        <activity android:name=".activity.OrderManagermentActivity"></activity>
        <activity android:name=".activity.StudentManagermentActivity"></activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.SettingActivity"></activity>
        <activity android:name=".activity.ModifyPasswordActivity"></activity>
        <activity android:name=".activity.CarTypeActivity"></activity>
        <activity android:name=".activity.InsuranceRecordActivity"></activity>
        <activity android:name=".activity.OrderMessageActivity"></activity>
    </application>

</manifest>